.content-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.content-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.content-page-title {
    margin: 0;
}

.content-page-description {
    margin: 10px 0 20px 0;
    font-size: 16px;
}

.content-page-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 0;
}

.content-page-content span {
    font-size: 16px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #00000015;
    margin: 25px 0 10px 0;
}

.note {
    font-size: 16px;
    margin: 20px 0 0 0;
}