.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.not-found-container h1 {
    font-size: 32px;
    margin: 0;
}

.not-found-container p {
    margin: 10px 0 0 0;
}