.specific-page-container {
    display: flex;
    align-self: flex-start !important;
    justify-content: flex-start !important;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.specific-page-content {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.specific-page-content img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.specific-page-content h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #222;
}

.specific-page-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}
