.conditions-container {
    padding: 80px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conditions-content {
    max-width: 1800px;
    width: 100%;
}

.conditions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.condition {
    text-align: center;
    margin: 20px 0;
}

.condition h3 {
    margin: 10px 0;
}

.condition p {
    margin: 0;
}

.condition svg {
    width: 30px;
    height: 30px;
}