.employment-condition {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 14px;
  border: 1px solid #e1e1e1;
  background: #fdfdfd;
  transition: 0.2s ease;
  width: 300px;
}

.employment-condition:hover {
  background: #f2f2f2;
}

.ec-icon {
  font-size: 2rem;
}

.ec-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.ec-description {
  margin: 0;
    font-size: 16px;
}
