.header {
    width: 100%;
    margin: 0;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101939;
    position: fixed;
    z-index: 999;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 20px;
}

.logo img {
    width: 160px;
    margin-bottom: -10px;
}

.nav-links {
    display: flex;
    gap: 20px;
}


.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}


.nav-links a:hover {
    color: #f7f7f7;
    text-decoration: underline;
}


.header-right {
    display: flex;
    align-items: center;
}