.home-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.home-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.home-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-overlay:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0) 0%,
        rgba(0, 0, 0, 0.0) 70%,
        rgb(13, 13, 13) 100%);
    z-index: 10;
    top: 0;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    z-index: 1;
}

.home-overlay h3 {
    font-size: 62px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    z-index: 10;
    animation-delay: 2000ms;
    animation: slide-in 1000ms;
}

.home-overlay p {
    font-size: 16px;
    margin: 5px 0 20px 0;
    width: 40%;
    text-align: center;
    z-index: 10;
    animation-delay: 2000ms;
    animation: slide-in 1200ms;
}

.home-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}

.hytte-btn {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    border-radius: 24px;
    background-color: #fff;
    padding: 12px 24px;
    z-index: 10;
    animation-delay: 2000ms;
    animation: slide-in 1500ms;
}

.hytte-btn:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.omoss-btn {
    z-index: 10;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    animation-delay: 2000ms;
    animation: slide-in 1700ms;
}

.omoss-btn:hover {
    cursor: pointer;
    color: #f0f0f0;
}

.home-btns svg {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    background-color: #0e0e0e;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
}

@media screen and (max-width: 900px) {
    .home-overlay h3 {
        width: 90%;
        font-size: 42px;
    }

    .home-overlay p {
        width: 90%;
    }

    .hero-content {
        flex-direction: column;
        gap: 50px;
    }
}