.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;             /* Full screen height */
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;         /* Ensures video covers the whole background */
  z-index: -2;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);  /* Dark overlay */
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
    padding: 0;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin: 0;
}

.hero-content p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.hero-content a {
  color: #08a8ff;
  font-size: 20px;
  margin: 0;
}

.heor-content a:hover {
  color: #074dda;
}

.fade-stagger {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}

#title.fade-stagger {
  animation-delay: 120ms;
}
#desc.fade-stagger {
  animation-delay: 240ms;
}
#link.fade-stagger {
  animation-delay: 360ms;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
}