.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;
}

.section-content {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
}

.section-title {
    margin: 0;
    font-size: 24px;
}

.section-description {
    margin: 10px 0 0 0;
    font-size: 16px;
}

.section-description a {
    color: var(--standard-blue);
}

.section-description a:hover {
    color: var(--standard-blue-hover);
}

.section-slider-container {
    margin-top: 30px;
    margin-bottom: -5px;
    padding-inline: 20px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    justify-content: center;
}

.section-slider {
    margin: 0 0 15px 0;
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -ms-verrflow-style: none;
    overflow: -moz-scrollbars-none;
    border-radius: 10px;
    padding-bottom: 10px;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section-slider::-webkit-scrollbar {
    height: 5px;
}

.section-slider::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 10px;
}

.section-slider::-webkit-scrollbar-thumb {
    background-color: rgba(196, 196, 196);
    border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb:hover {
    background-color: rgb(181, 181, 181);
}

.section-block {
    scroll-snap-align: start;
    width: 600px;
    user-select: none;
}

@media screen and (max-width: 1450px) {
    .section-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-title {
        padding-inline: 20px;
    }

    .section-description {
        padding-inline: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .section-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .section-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}